@using SkillsHubV2.Domain.Entities
@model List<SkillsHubV2.Domain.Entities.HardSkill>

@{
    ViewBag.Title = "Hard Skill Details";
}

<!-- Таблица с существующими навыками -->
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Technology)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var skill in Model)

        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => skill.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => skill.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => skill.Technology)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@skill.Id" class="btn btn-warning">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@skill.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Кнопка для вызова модального окна добавления нового навыка -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addHardSkillModal">
    Add new Hard Skill
</button>

<!-- Модальное окно для создания нового Hard Skill -->
<partial name="AddHardSkillModal" model="new SkillsHubV2.Domain.Entities.HardSkill()" />