@model List<SkillsHubV2.Domain.Entities.SoftSkill>

@{
    ViewBag.Title = "Soft Skill Details";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().CommunicationStyle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Level)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var skill in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => skill.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => skill.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => skill.CommunicationStyle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => skill.Level)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@skill.Id" class="btn btn-warning">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@skill.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<button class="btn btn-primary" id="openSoftSkillModalButton" onclick="openSoftSkillModal()">Add New Soft Skill</button>
@await Html.PartialAsync("_CreateModal", new SkillsHubV2.Domain.Entities.SoftSkill())





